node_modules
.expo/web/cache/production/images/apple-touch-startup-image/apple-touch-startup-image-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain-\#ffffff/apple-touch-startup-image-1125x2436.png
.expo/web/cache/production/images/apple-touch-startup-image/apple-touch-startup-image-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain-\#ffffff/apple-touch-startup-image-1242x2208.png
.expo/web/cache/production/images/apple-touch-startup-image/apple-touch-startup-image-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain-\#ffffff/apple-touch-startup-image-1242x2688.png
.expo/web/cache/production/images/apple-touch-startup-image/apple-touch-startup-image-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain-\#ffffff/apple-touch-startup-image-1536x2048.png
.expo/web/cache/production/images/apple-touch-startup-image/apple-touch-startup-image-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain-\#ffffff/apple-touch-startup-image-1668x2224.png
.expo/web/cache/production/images/apple-touch-startup-image/apple-touch-startup-image-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain-\#ffffff/apple-touch-startup-image-1668x2388.png
.expo/web/cache/production/images/apple-touch-startup-image/apple-touch-startup-image-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain-\#ffffff/apple-touch-startup-image-2048x2732.png
.expo/web/cache/production/images/apple-touch-startup-image/apple-touch-startup-image-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain-\#ffffff/apple-touch-startup-image-640x1136.png
.expo/web/cache/production/images/apple-touch-startup-image/apple-touch-startup-image-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain-\#ffffff/apple-touch-startup-image-750x1334.png
.expo/web/cache/production/images/apple-touch-startup-image/apple-touch-startup-image-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain-\#ffffff/apple-touch-startup-image-828x1792.png
